{%extends 'registration/base.html'%}
{%load bootstrap3%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-7 col-xs-0 col-lg-7">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat vero illum dignissimos, asperiores doloremque quod voluptatum, maiores veniam aliquam veritatis a praesentium. Minus enim ut, eveniet perferendis deserunt exercitationem nesciunt.</p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 col-lg-5">
            {%if form.errors%}
                <p>Your email or password are incorrect</p>
            {%endif%}

            <div class="panel panel-default">
                <h3 class="text-center">
                    Sign Up
                </h3>
                <div class="panel-body">
                    <form action="/accounts/register/" method="post">
                    {%csrf_token%}
                        {%bootstrap_form form%}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-lg" value="Sign Up">
                            </div>

                            <input type="hidden" name="next" value="{{next}}">
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}